body { background:url('../img/city_bg.png') repeat-x #2e2e2e; font-family:"Helvetica Neue", "Helvetica"; font-size:16px; }

#city-left  { width:300px; height:600px; background:url('../img/city.png') no-repeat; position:absolute; top:12px; left:0px; z-index:-1; }
#city-right { width:300px; height:600px; background:url('../img/city.png') no-repeat scroll -300px 0px; position:absolute; top:12px; right:0px; z-index:-1; }
#wrap { width:960px; margin:0pt auto; }

#navigation                     { padding:10px; margin-bottom:96px; position:absolute: top:20px; }
#navigation > div               { width:960px; margin:0pt auto; }
#navigation > div > div         { border-radius:100px; background:#c03939; width:360px; margin:0pt auto; padding-top:16px; text-align:center; }
#navigation .slogan             { color:#d0c69b; margin-left:16px; font-family:"Rockwell"; position:relative; bottom:12px; text-shadow:0px 1px 1px rgba(0,0,0,0.7); }
#navigation h1                  { font-size:6.0em; font-family:"Sketch Rockwell"; }
#navigation h1 a                { color:#e3dab2; text-decoration:none; text-shadow:0px 1px 1px rgba(0,0,0,0.7); }
#navigation ul                  { margin:0pt auto; width:600px;  }
#navigation ul li               { float:left; margin-left:32px; }
#navigation ul li a             { font-family:"Rockwell"; color:#c03939; text-decoration:none; font-size:1.2em;}
#navigation ul li:hover         { background:#230f31; }
#navigation ul li:hover a       { color:white; }

#navigation ul li               { width:100px; padding:12px 0px; text-align:center; text-shadow:10px 10px 0px rgba(0,0,0,0.1); }

#header p,
h1, h1, h2, h3, h4, h5                  { font-family:"Rockwell"; color:#056CA9; font-size:1.5em; text-decoration:none; }
h2, h3, h4                              { color:#230f31; }


h2 a                            { padding:0px 8px; }

#wrap #content                  { width:100%; text-align:left; }
#wrap #content > div            { margin:5px; padding:5px 0px; overflow:hidden; }
h2                              { border-radius:5px; background-color:#c03939; padding:8px; color:white; font-size:1.1em; margin-bottom:8px; }

#content #lhs                   { width:30%; float:left; }
#content #rhs                   { width:70%; float:left; }
body #content                   { font-size:0.9em; }

#content h2                     { font-family:"Sketch Rockwell"; font-size:3.0em; color:#E3DAB2; text-shadow:1px 1px 1px rgba(0,0,0,0.5); }

#lhs > div                      { margin-left:8px; }
#rhs > div                      { margin-right:8px; }

.calendar-week                  { width:100%; overflow:hidden; }
.calendar-week a                { text-decoration:none; color:black; text-shadow:3px 3px 3px rgba(0, 0, 0, 0.2); }
.calendar-week .calendar-date   { width:11%; display:inline-block; float:left; height:40px; padding:6px; }
.calendar-week .calendar-date:last-child    { border-right:1px solid rgba(255, 255, 255, 0.3); }
.calendar-week .calendar-date   { border-left:1px solid rgba(255, 255, 255, 0.3); border-top:1px solid rgba(255, 255, 255, 0.3); }
.calendar-date.inactive         { background-color:rgba(35, 15, 49, 0.3); }
.calendar-date                  { background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.0))); }

.calendar-week:last-child .calendar-date { border-bottom: 1px solid rgba(255, 255, 255, 0.3);}
.calendar-date:hover            { background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.0)), to(rgba(255, 255, 255, 0.1))); }

.calendar-week:last-child .calendar-date:last-child { border-bottom-right-radius:6px; }
.calendar-week:last-child .calendar-date:first-child { border-bottom-left-radius:6px; }
.calendar-week:first-child .calendar-date:first-child { border-top-left-radius:6px; }
.calendar-week:first-child .calendar-date:last-child { border-top-right-radius:6px; }

.calendar-date.has-event span   { background:url('../img/dot.png') no-repeat scroll 50% 50%; width:16px; height:16px; width:100%; height:100%; display:block; }

.calendar                       { background:#9e1313; width:390px; padding:5px; margin-bottom:16px; border-radius:6px;  float:left;}
.calendar > div                 { margin:0pt auto; background:#c6e9f1; border-radius:6px;}
#events                         { overflow:hidden; }

#events > ul                    { float:left; width:39%; }
#events > ul li h3 a            { font-size:0.8em; color:#c6e9f1; text-decoration:none; }
#events > ul li                 { margin-left:16px; margin-right:6px; }
#events > ul li p               { color:#c6e9f1; text-shadow:1px 1px 1px rgba(0, 0, 0, 0.2); line-height:1.2em; }
#events > ul li                 { margin-bottom:6px; margin-top:10px; border-bottom:1px dotted rgba(255, 255, 255, 0.3); padding:6px 0px; }

#current-show                   { overflow:hidden; }
#current-show img               { border-radius:6px; -webkit-box-shadow:10px 10px 0px rgba(0,0,0,0.1); float:left; margin-right:64px; margin-bottom:16px; width:280px; }
#current-show h2                { background:transparent; font-size:4.0em; color:#E3DAB2; text-shadow:1px 1px 0px rgba(0,0,0,0.7); float:left; background:#9e1313; }
#current-show > div p           { width:300px; float:left; }
#current-show > div             { color:white; color:rgba(255, 255, 255, 0.5);  text-shadow:1px 1px 0px rgba(0,0,0,0.1); }
#current-show > div span        { display:block; margin-top:6px; padding:6px; margin-bottom:10px; border-bottom:1px dotted rgba(255, 255, 255, 0.3);  }

#lhs ul li                      { padding:6px 0px; margin-top:6px; margin-bottom:10px; border-bottom:1px dotted rgba(255, 255, 255, 0.3); }
#lhs ul li .dj                  { font-weight:bold; margin-bottom:10px; } 
#lhs ul li p                    { color:#c6e9f1;  text-shadow:1px 1px 1px rgba(0, 0, 0, 0.2); line-height:1.2em; }
#lhs ul li h3                   { color:#c6e9f1; }

#current-show                   { position:relative; }
#current-show .listen-link      { border:1px solid #FD899C; vertical-align:center; display:inline-block; }
#current-show .listen-link span { position:relative; top:25%; left:16px; text-shadow:1px 1px 5px rgba(0,0,0,0.9); }
#current-show .listen-link      { background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FD6E8A), to(#E0627A), color-stop(.2,#FD899C)) } 
#current-show .listen-link      { border-radius:60px; color:white; text-decoration:none; width:160px; height:30px; }
#current-show .listen-link      { -webkit-box-shadow:5px 5px 0px rgba(0, 0, 0, 0.2); }
