<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Radio Station {% block title %}{% endblock %}</title>
    {% block extra_head %}

    {% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    <div class="content-title">
        {% block content_title %}{% endblock %}
    </div>
    <div class="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>
