{% extends "logs/base.html" %}

{% block logs_page_menu %}
    <ul id="page-menu">
        <li class="object-nav-item {% if rotation %}active{% endif %}">
            <a href="./{% if rotation %}{% else %}?rotation=True{% endif %}" title="Is Rotation">Rotation Only</a>
        </li>
        <li>
            <a href="{% chart-top-artists start_of_week.year start_of_week|date:"b" start_of_week.day %}{% if rotation %}?rotation=True{% endif %}">By Artist</a> 
        </li>
    </ul>
{% endblock %}

{% block logs_content_header %}
<h1>Charts from {{ start_of_week|date:"l, F jS Y" }} until {{ end_of_week|date:"l, F jS Y" }}</h1>
{% endblock %}
{% block logs_content_main %}
    <ul class="navigation">
        <li class="prev"><a href="{% url chart-top-albums previous_week.year previous_week|date:"b" previous_week.day %}{% if rotation %}?rotation=True{% endif %}">One Week Earlier</a></li>
        {% if next_week %}
        <li class="next"><a href="{% url chart-top-albums next_week.year next_week|date:"b" next_week.day %}{% if rotation %}?rotation=True{% endif %}">One Week Later</a></li>
        {% endif %}
    </ul>

    <div class="object-list-tabular">
        <table>
            <thead>
                <tr>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Play Count</th>
                </tr>
            </thead>
            <tbody>
                {% for album in albums|slice:":30" %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>{{ album.artist.name }}</td>
                    <td>{{ album.name }}</td>
                    <td>{{ artist.playcount }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}
{% block logs_content_sub %}

{% endblock %}

