{% extends "logs/base.html" %}

{% block logs_content_header %}
<h1>Logs from {{ at_datetime|date:"g:ia l" }} the {{ at_datetime|date:"jS" }}</h1> 
{% endblock %}

{% block logs_page_menu %}
    <ul id="page-menu">
        {% for nav_date in date_range %}
            {% ifequal nav_date.date at_datetime.date %}
                <li class="active">
                    <h2>{% ifequal at_datetime.date current_datetime.date %}Today{% else %}{{ nav_date|date:"l jS" }}{% endifequal %}</h2>
                    <ul>
                        {% for nav_time in time_range %}
                            <li>
                                {% url logs-time nav_date.year nav_date|date:"b" nav_date.day nav_time.hour as nav_url %}
                                <a href="{{ nav_url }}" title="{{ nav_time|date:"g:ia" }}">{{ nav_time|date:"g:ia" }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                {% url logs-time nav_date.year nav_date|date:"b" nav_date.day 0 as nav_url %}
                <li>
                    <a href="{{ nav_url }}" title="{{ nav_date|date:"l jS" }}">{% ifequal nav_date.date current_datetime.date %}Today{% else %}{{ nav_date|date:"l jS" }}{% endifequal %}</a>
                </li>
            {% endifequal %}
        {% endfor %}
    </ul>
{% endblock %}

{% block logs_content_main %}
    <ul class="navigation">
        <li class="prev"><a href="{% url logs-time prev.year prev|date:"b" prev.day prev.hour %}">3 hours earlier</a></li>
        {% if next %}
        <li class="next"><a href="{% url logs-time next.year next|date:"b" next.day next.hour %}">3 hours later</a></li>
        {% endif %}
    
    </ul>
    <div class="object-list-tabular">
        <table>
            <thead>
                <th>Artist</th>
                <th>Album</th>
                <th>Track</th>
                <th>When</th>
                <th>DJ</th>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>
                        {{ log.artist.name }}
                    </td>
                    <td>
                        {{ log.album.name }}
                    </td>
                    <td>
                        {{ log.track.name }}
                    </td>
                    <td>
                        <abbr title="{{ log.submitted }}">{{ log.submitted|timesince }} ago</abbr>
                    </td>
                    <td>
                        {{ log.dj.user }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
