{% extends "base.html" %} 

{% block body_id %}local{% endblock %}

{% block page_menu %}
    {% block radio_events_page_menu %}
    {% include "radio_events/includes/side_navigation.html" %}
    {% endblock %}
{% endblock %}

{% block content %}
    {% block radio_events_content %}
        {% block radio_events_content_header %}

        {% endblock %}
        {% block radio_events_content_main %}

        {% endblock %}
        {% block radio_events_content_sub %}

        {% endblock %}
    {% endblock %}
{% endblock %}
