{% extends "radio_events/base.html" %}
{% block body_id %}{{ block.super }}-detail{% endblock %}
{% block content_header %}
    <h2 class="header">{{ event.name }}</h2>
{% endblock %}

{% block radio_events_content_main %}
<div id="content-main-object-list-container">
    <ul class="object-list">
        {% if event.location %}
        <li class="object-list-item">
            <div><span class="object-list-item-label">Location</span> {{ event.location.name }}</div>
        </li>
        {% endif %}
        <li class="object-list-item">
            <div><span class="object-list-item-label">Starts at</span> {{ event.time_start|time:"g:ia" }}</div>
        </li>
        {% if event.time_end %}
        <li class="object-list-item">
            <div><span class="object-list-item-label">Ends at</span> {{ event.time_end|time:"g:ia" }}</div>
        </li>
        {% endif %}
        {% if event.cost %}
        <li class="object-list-item">
            <div><span class="object-detail-label">Cost</span> {{ event.cost }}</div>
        </li>
        {% endif %} 
    </ul>
</div>
{% endblock %}

{% block radio_events_content_sub %}
    {% load radio_events_calendar %}
    <div class="object-description">
        {{ event.content }}
    </div>
    <div id="calendar">
        <h1 class="header">Calendar : {{ event.date|date:"F"}}</h1>
        {% calendar_block event.date %}
    </div>
{% endblock %}
