{% extends "base.html" %}
{% block extrahead %}
{% endblock %}

{% block side_navigation %}
    {% block radio_logs_side_navigation %}
    {% endblock %}
{% endblock %}

{% block body_id %}radio-logs{% endblock %}

{% block banner %}
{% endblock %}

{% block page_menu %}
    {% block radio_logs_page_menu %}

    {% endblock %}
{% endblock %}

{% block content %}
    {% block radio_logs_content %}
        {% block radio_logs_content_header %}

        {% endblock %}
        {% block radio_logs_content_main %}

        {% endblock %}
        {% block radio_logs_content_sub %}

        {% endblock %}
    {% endblock %}
{% endblock %}
