{% extends "station/base.html" %}
{% block body_id %}{{ block.super }}-show-list{% endblock %}
{% block page_menu %}
    {% include "station/show_navigation.html" %}
{% endblock %}


{% block content %}
{% load station %}
{% load date_utils %}
    <div id="content">
        <div id="content-container">
            <h1 class="header">shows</h1>
            <ul class="object-list-pagination">
                {% include "station/show_pagination.html" %}
            </ul>
            <ul class="object-list">
            {% for spot in object_list %}
                {% ifchanged spot.day_of_week %}
                    <li class="object-list-header">
                        {{spot.day_of_week|day_of_week_to_time|date:"l"}}
                    </li>
                {% endifchanged %}
                {% include "station/show_list_item.html" %}
            {% endfor %}
            </ul>
            <ul class="object-list-pagination">
                {% include "station/show_pagination.html" %}
            </ul>
        </div>
    </div>
{% endblock %} 
