        <li class="object-nav-item {% ifequal day_of_week "all" %}active{% endifequal %}">
            <a href="{% url show-list 1 %}">All Shows</a>
        </li>
        <li class="object-nav-item {% ifequal day_of_week 0 %}active{% endifequal %}">
            <a href="{% url show-list-day 0 1 %}">Monday</a>
        </li>
        <li class="object-nav-item {% ifequal day_of_week 1 %}active{% endifequal %}">
            <a href="{% url show-list-day 1 1 %}">Tuesday</a>
        </li>
        <li class="object-nav-item {% ifequal day_of_week 2 %}active{% endifequal %}">
            <a href="{% url show-list-day 2 1 %}">Wednesday</a>
        </li>
        <li class="object-nav-item {% ifequal day_of_week 3 %}active{% endifequal %}">
            <a href="{% url show-list-day 3 1 %}">Thursday</a>
        </li>
        <li class="object-nav-item {% ifequal day_of_week 4 %}active{% endifequal %}">
            <a href="{% url show-list-day 4 1 %}">Friday</a>
        </li>
        <li class="object-nav-item {% ifequal day_of_week 5 %}active{% endifequal %}">
            <a href="{% url show-list-day 5 1 %}">Saturday</a>
        </li>
        <li class="object-nav-item {% ifequal day_of_week 6 %}active{% endifequal %}">
            <a href="{% url show-list-day 6 1 %}">Sunday</a>
        </li>
