{% extends "events/base.html" %}

{% block header %}
    <h2 class="header">{{ event.name }}</h2>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url events-list %}" title="events">Events</a></li>
    <li><a href="{% url events-for-day when.year when.month when.day %}" title="Events for {{ when|date:"l, N jS" }}">Events for {{ when|date:"l, N jS" }}</a></li>
    <li><a href="#" title="{{ event.name }}">{{ event.name }}</a></li>
{% endblock %}

{% block stage %}
<div>
    <div class="event-description">
        {{ event.content|urlize }}
    </div>
    <ul>
        {% if event.location %}
        <li>
            <div>
                <span>Location</span> {{ event.location.name }}
            </div>
        </li>
        {% endif %}
        <li>
            <div>
                <span>Starts at</span> {{ event.time_start|time:"g:ia" }}
            </div>
        </li>
        {% if event.time_end %}
        <li>
            <div>
                <span>Ends at</span> {{ event.time_end|time:"g:ia" }}
            </div>
        </li>
        {% endif %}
        {% if event.cost %}
        <li>
            <div>
                <span>Cost</span> {{ event.cost }}
            </div>
        </li>
        {% endif %} 
    </ul>
</div>
{% endblock %}

{% block sidebar %}
    {{ block.super }} 
    {% load events_tags %}
    <div id="calendar">
        <h3>{{ event.date|date:"F"}}</h3>
        {% calendar_block event.date %}
    </div>
{% endblock %}
