{% extends "events/base.html" %}
{% block header %}
    <h2 class="header">Events for {{ day|date:"l, F jS Y" }}</h2>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url events-list %}" title="events">Events</a></li>
    <li><a href="{% url events-for-day when.year when.month when.day %}" title="Events for {{ when|date:"l, N jS" }}">Events for {{ when|date:"l, N jS" }}</a></li>
{% endblock %}

{% block stage %}
    <div>
    {% if events %}
        <ul>
        {% for event in events|dictsort:"time_start" %}
            <li>
                <strong><a href="{{ event.get_absolute_url }}" title="{{ event.name }}">{{ event.name }}</a></strong>
                <p>
                {% if event.location %}
                    {{ event.location }} /
                {% endif %}
                {{ event.time_start|time:"g:ia" }}
                {% if event.time_end %}
                to {{ event.time_end|time:"g:ia" }}
                {% endif %}
                </p> 
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <div>
            <h3>There don&rsquo;t appear to be any events that day.</h3>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
{{ block.super }}
{% load events_tags %}
<div id="calendar">
    <h3>{{ day|date:"F"}}</h3>
    {% calendar_block day %}
</div>
{% endblock %}
