{% extends "station/base.html" %}

{% block header %}
        <h2>{{ dj.display_name }}&rsquo;s shows:</h2>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url for-day today.weekday %}" title="Schedule">Schedule</a></li>
    <li><a href="#" title="DJ">{{ dj.display_name }}</a></li>
{% endblock %}


{% block sidebar %}
    {% load markup %}
    {% load gravatar %}
        <h2>{{ dj.display_name }}</h2>
        
        <div>
            <img src="{% gravatar_for_email dj.user.email %}" alt="{{ dj.display_name }}" />
        {{ dj.description|markdown }}
        </div>
        {% if favorite_artists %}
        <h2>Top Played Artists</h2>
        <dl>
            {% for artist in favorite_artists %}
                <dt>{{ artist.name }}</dt>
                <dd>{{ artist.playcount }}</dd>
            {% endfor %}
        </dl>
        {% endif %}
{% endblock %}

{% block stage %}
    <div> 
        <ul>
        {% for spot in spots %}
            <li>
                <a href="{% url show-detail spot.show.slug %}" title="{{ spot.show }}">{{ spot.show }}</a>
                <span>on {{ spot.to_datetime|date:"l"}}s at {{ spot.to_datetime|time:"g:ia" }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
