{% extends "station/base.html" %}

{% block header %}
<h2>{{ show.name }}</h2>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url for-day today.weekday %}" title="Schedule">Schedule</a></li>
    <li><a href="#" title="{{ show }}">{{ show }}</a></li>
{% endblock %}

{% block sidebar %}
    <div>
    {% for spot in spots %}
        <ul>
            <li>
                <h3><a href="{% url dj-detail spot.dj.slug %}" title="{{ spot.dj }}">{{ spot.dj }}</a></h3>
                <div>
                    <a href="{% url schedule-for-day spot.schedule.pk spot.day_of_week %}">{{ spot.to_datetime|date:"l"}}s at {{ spot.to_datetime|time:"g:ia" }}</a>
                </div>
            </li>
        </ul>
    {% endfor %}
    </div>
{% endblock %}

{% block stage %}
<div class="{% if show.special_program %}special{% endif %} object-description">
    {{ show.description }}
</div>

{% if favorite_artists %}
<h2 class="header">Top Played Artists</h2>
<dl class="object-list-sub">
    {% for artist in favorite_artists %}
        <dt>{{ artist.name }}</dt>
        <dd>{{ artist.playcount }}</dd>
    {% endfor %}
</dl>
{% endif %}
{% endblock %}
