@default-padding:6px 8px;
@color-highlight-0:#BCE3DD;
@color-highlight-1:#b7b5b6;
@color-highlight-2:#D6F0FC;
@color-highlight-3:#ed117c;
@color-midtone-0:white;
@color-midtone-1:#F0F0F0;
@color-midtone-2:#7e7f81;
@color-midtone-3:#231f20;
@color-midtone-4:#CCC;
@color-black-bg:#231f20;
@color-text:#b7b5b6;
@color-dark-text:#777576;
@image-bullet:site/img/bullet.gif;
@image-sprite:site/img/sprite.gif;
@image-middle-background:site/img/middle-background.gif;
@size-a: 58pt;
@size-b: 18pt;
@size-c: 14pt;
@size-d: 10pt;
@size-e: 8pt;

@default-padding-width:8px;
@default-padding-height:6px;

@page-width:1280px;
@menu-width:80px;
@menu-offset-top:45px;

@content-padding:0px 0px 0px 20px;
@content-main-header-width:496px;
@content-container-width:1032px;
@content-container-padding:0px 0px 20px 0px;
@content-sub-width:372px;
@content-sub-margin:50px 0px 0px 18px;
@inner-content-header-width:275px;
@banner-height:275px;
@content-main-offset-top:-145px;

@content-main-header-background-scroll:-513px 125px;
@content-main-header-padding:8px 40px;
@content-main-header-margin-left:-14px;

@content-main-object-list-width:585px;
@content-main-object-list-margin-right:-100px;

@playlist-header-width:440px;
@playlist-container-width:620px;
@ad-space-width:300px;

@sans_display_font: "Helvetica Neue", "Helvetica", sans-serif;
@display_font: "Courier", "Courier New", monospace;
@body_font: "Helvetica Neue", "Helvetica", sans-serif;

.clear-children {
    width:100%;
    overflow:hidden;
}

.horizontal-ul {
    .clear-children;
    li {
        padding:@default-padding;
        float:left;
    }
}

.header {
    padding:@default-padding;
    font-family:@display_font;
    color:white;
    background-color:@color-black-bg;
    text-transform:uppercase;
    font-style:italic;
    font-size:@size-c;
}
.object-list {
    li {
        a {
            color:@color-text;
            font-family:@display_font;
            font-size:@size-c;
        }
        span {
            color:@color-text;
            font-family:@display_font;
            font-size:@size-e;
        }
        div {
            font-size:@size-e;
            font-family:@body_font;
            color:@color-text;
        }
        padding:@default-padding;
        border-bottom:1px solid @color-dark-text;
    }
}

body {
    font-size:@size-c;
    font-family:@body_font;
    background:url('../img/body-bg.gif');
    color:@color-black-bg;
    height:100%;

    table {
        border-left:1px solid @color-dark-text;
        th {
            background:@color-black-bg;
            font-size:@size-c;
            font-family:@display_font;
            color:white;
            padding:@default-padding;
        }
        tr {
            background:@color-black-bg;
            td {
                padding:@default-padding;
                font-size:@size-e;
                border-bottom:1px solid @color-dark-text;
                border-right:1px solid @color-dark-text;
            }
        }
        .row1 {
            background:white;
            color:@color-black-bg;
        }

        .row2 {
            background:@color-text;
            color:black;
        }
    }

    #wrap {
        background:url('../img/wrap-bg.png');
        padding:0px 70px;
        width:960px;
        height:100%;
        overflow:hidden;
        #inner-wrap {
            border-left:1px solid @color-dark-text;
            border-right:1px solid @color-dark-text;
            padding:10px 16px;
            background:white;
            height:100%;
            a {
                text-decoration:none;
            }
            #header {
                width:100%;
                overflow:hidden;
                margin-bottom:12px;
                #header-image {
                    float:left;
                    margin-right:24px;
                }
                .row {
                    #header-right {
                        width:40%;
                        overflow:hidden;
                        float:left;
                        height:104px;
                        position:relative;
                        ul {
                            position:absolute;
                            bottom:0px;
                            .horizontal-ul;
                            margin-left:10px;
                            li {
                                text-transform:uppercase;
                                margin-right:24px;
                                padding:0px;
                                a {
                                    display:block;
                                    padding:8px 7px;
                                    padding-right:13px;
                                    font-family:@sans_display_font;
                                    font-size:12px;
                                    color:@color-midtone-0;
                                    background:no-repeat url('../img/arrow-right.png') scroll 100% -12px;
                                }
                            }
                            .black {
                                background-color:black;
                            }
                            .red {
                                background-color:@color-highlight-3;
                            }
                        }  
                    }
                }
            }

            #page-menu {
                float:left;
                width:@menu-width;
                margin-top:@menu-offset-top;
                li {
                    padding:@default-padding;
                    margin-bottom:8px;
                    a {
                        font-family:@display_font;
                        font-size:@size-e;
                        color:@color-midtone-0;
                        text-transform:lowercase;
                    }
                    background:@color-midtone-2;
                }
            }

            #content {
                width:828px;
                overflow:hidden;
                #banner {
                    width:100%;
                    height:@banner-height;
                    position:relative;
                    padding-left:16px;
                    #banner-link {
                        position:absolute;
                        top:0px;
                        right:25px;
                    }
                }
                #content-container {
                    position:relative;
                    overflow:visible;
                    margin-left:16px;
                    #content-main {
                        position:relative;
                        #content-main-header {
                            width:@content-main-header-width;
                            background:white;
                            padding:@content-main-header-padding;
                        }
                        #content-main-object-list-container {
                            background:repeat-y url('../img/main-content-bg.gif');
                            float:left;
                            margin-right:-72px;
                            .object-list {
                                width:390px;
                            }
                        }
                        #content-sub {
                            background:white;
                            #event-list {
                                .horizontal-ul;
                                text-transform:lowercase;
                                li {
                                    padding:@default-padding;
                                    margin:@default-padding;
                                    font-size:@size-e;
                                    font-family:@display_font;
                                    background:@color-midtone-2;
                                    a {
                                        color:@color-midtone-0;
                                    }
                                }
                            }
                            float:left;
                            margin:@content-sub-margin;
                            width:@content-sub-width;
                            position:relative;
                        }
                    }
                    #playlist {
                        clear:left;
                        float:left;
                        position:relative;
                        top:@content-main-offset-top;
                        h1 {
                            width:@playlist-header-width;  
                        }
                        #playlist-container {
                            margin:@default-padding;
                            width:@playlist-container-width;
                        }

                    }
                    #ad-space {
                        position:relative;
                        top:@content-main-offset-top;
                        float:right;
                        width:@ad-space-width;
                    }
                }
            }
        }
    }
}

#home {
    #wrap {
        #inner-wrap {
            #content {
                #content-main {
                    top:-145px;
                }
            }
        }
    }
}


#radio-logs {
    h1 {
        .header;
        background:@color-highlight-3;
        margin-left:16px;
    }
}
