@default-padding:6px 8px;
@color-highlight-0:#BCE3DD;
@color-highlight-1:#b7b5b6;
@color-highlight-2:#D6F0FC;
@color-highlight-3:#ed117c;
@color-midtone-0:white;
@color-midtone-1:#F0F0F0;
@color-midtone-2:#7e7f81;
@color-midtone-3:#231f20;
@color-midtone-4:#CCC;
@color-black-bg:#231f20;
@color-text:#b7b5b6;
@color-dark-text:#777576;
@image-bullet:site/img/bullet.gif;
@image-sprite:site/img/sprite.gif;
@image-middle-background:site/img/middle-background.gif;
@size-a: 58pt;
@size-b: 18pt;
@size-c: 14pt;
@size-d: 10pt;
@size-e: 8pt;

@default-padding-width:8px;
@default-padding-height:6px;

@page-width:1280px;
@menu-width:80px;
@menu-offset-top:45px;

@content-padding:0px 0px 0px 20px;
@content-main-header-width:496px;
@content-container-width:1032px;
@content-container-padding:0px 0px 20px 0px;
@content-sub-width:372px;
@content-sub-margin:50px 0px 0px 18px;
@inner-content-header-width:275px;
@banner-height:275px;
@content-main-offset-top:-145px;

@content-main-header-background-scroll:-513px 125px;
@content-main-header-padding:8px 40px;
@content-main-header-margin-left:-14px;

@content-main-object-list-width:585px;
@content-main-object-list-margin-right:-100px;

@playlist-header-width:440px;
@playlist-container-width:400px;
@ad-space-width:300px;

@sans_display_font: "Helvetica Neue", "Helvetica", sans-serif;
@display_font: "Courier", "Courier New", monospace;
@body_font: "Helvetica Neue", "Helvetica", sans-serif;

.clear-children {
    width:100%;
    overflow:hidden;
}

.horizontal-ul {
    .clear-children;
    li {
        padding:@default-padding;
        float:left;
    }
}

.header {
    padding:@default-padding;
    font-family:@display_font;
    color:white;
    background-color:@color-black-bg;
    text-transform:uppercase;
    font-style:italic;
    font-size:@size-c;
}
.object-list {
    li {
        a {
            color:@color-text;
            font-family:@display_font;
            font-size:@size-c;
        }
        span {
            color:@color-text;
            font-family:@display_font;
            font-size:@size-e;
        }
        div {
            font-size:@size-e;
            font-family:@body_font;
            color:@color-text;
        }
        padding:@default-padding;
        border-bottom:1px solid @color-dark-text;
    }
}

body {
    font-size:@size-c;
    font-family:@body_font;
    background:url('../img/body-bg.gif');
    color:@color-black-bg;
    height:100%;

    table {
        border-left:1px solid @color-dark-text;
        width:100%;
        th {
            background:@color-dark-text;
            font-size:@size-d;
            font-family:@display_font;
            color:white;
            padding:@default-padding;
        }
        tr {
            background:@color-black-bg;
            td {
                padding:@default-padding;
                font-size:@size-e;
                border-bottom:1px solid @color-dark-text;
                border-right:1px solid @color-dark-text;
            }
        }
        .row1 {
            background:white;
            color:@color-black-bg;
        }

        .row2 {
            background:@color-text;
            color:black;
        }
    }

    #wrap {
        background:url('../img/wrap-bg.png');
        padding:0px 70px;
        width:960px;
        height:100%;
        overflow:hidden;
        #inner-wrap {
            border-left:1px solid @color-dark-text;
            border-right:1px solid @color-dark-text;
            padding:10px 16px;
            background:white;
            height:100%;
            a {
                text-decoration:none;
            }
            #header {
                width:100%;
                overflow:hidden;
                margin-bottom:12px;
                #header-image {
                    float:left;
                    margin-right:24px;
                }
                .row {
                    #header-right {
                        width:55%;
                        overflow:hidden;
                        float:left;
                        position:relative;
                        height:124px;
                        #whats-playing {
                            .clear-children;
                            position:absolute;
                            right:0px;
                            height:124px;
                            .header {
                                font-size:@size-d;
                                background:@color-highlight-3;
                                float:left;
                            }

                            img {
                                float:left;
                            }
                            ul {
                                position:absolute;
                                top:24px;
                                height:124px;
                                right:0px;
                                width:65%;
                                li {
                                    float:none;
                                    font-size:@size-e;
                                    color:@color-text;
                                    a {
                                        display:inline;
                                        background:none;
                                        font-size:@size-d;
                                        color:@color-dark-text;
                                    }
                                }
                            }
                        }

                        ul {
                            position:absolute;
                            bottom:0px;
                            .horizontal-ul;
                            margin-left:10px;
                            li {
                                text-transform:uppercase;
                                margin-right:24px;
                                padding:0px;
                                a {
                                    display:block;
                                    padding:8px 7px;
                                    padding-right:13px;
                                    font-family:@sans_display_font;
                                    font-size:12px;
                                    color:@color-midtone-0;
                                    background:no-repeat url('../img/arrow-right.png') scroll 100% -12px;
                                }
                            }
                            .black {
                                background-color:black;
                            }
                            .red {
                                background-color:@color-highlight-3;
                            }
                        }  
                    }
                }
            }

            #page-menu {
                float:left;
                width:@menu-width;
                margin-top:@menu-offset-top;
                li {
                    padding:@default-padding;
                    margin-bottom:8px;
                    font-family:@display_font;
                    font-size:@size-e;
                    color:@color-midtone-0;
                    a {
                        font-family:@display_font;
                        font-size:@size-e;
                        color:@color-midtone-0;
                        text-transform:lowercase;
                    }
                    background:@color-midtone-2;
                }
                .active {
                    background:@color-highlight-3;
                    a {
                        font-weight:bold;
                    }
                    ul {
                        padding-top:8px;
                        li {
                            text-decoration:none;
                            background:@color-highlight-3;
                        }
                    }
                }
            }

            #content {
                width:828px;
                overflow:hidden;
                #banner {
                    width:100%;
                    height:@banner-height;
                    position:relative;
                    padding-left:16px;
                    #banner-link {
                        position:absolute;
                        top:0px;
                        right:25px;
                    }
                }
                #content-container {
                    position:relative;
                    overflow:visible;
                    margin-left:16px;
                    #content-main {
                        .clear-children;
                        position:relative;
                        margin-bottom:24px;
                        #content-main-header {
                            width:@content-main-header-width;
                            background:white;
                            padding:@content-main-header-padding;
                        }
                        #content-main-object-list-container {
                            background:repeat-y url('../img/main-content-bg.gif');
                            float:left;
                            margin-right:-72px;
                            .object-list {
                                width:390px;
                                li, div, h1 {
                                    width:320px;
                                    color:@color-text;
                                    padding:@default-padding;
                                    font-size:@size-d;
                                }
                            }
                        }
                        #content-sub {
                            background:white;
                            #event-list {
                                .horizontal-ul;
                                text-transform:lowercase;
                                li {
                                    padding:@default-padding;
                                    margin:@default-padding;
                                    font-size:@size-e;
                                    font-family:@display_font;
                                    background:@color-midtone-2;
                                    a {
                                        color:@color-midtone-0;
                                    }
                                }
                                li.active {
                                   background:@color-highlight-3;
                                }
                            }
                            .object-description {
                                background:@color-black-bg;
                                padding:@default-padding;
                                font-size:@size-d;
                                line-height:1.3;
                                color:@color-text;
                                margin-bottom:16px;
                            }
                            float:left;
                            margin:@content-sub-margin;
                            width:@content-sub-width;
                            position:relative;
                        }
                        .object-list-sub {
                            display:none;
                            font-size:@size-e;
                            color:@color-dark-text;
                            li {
                                padding:8px 12px;
                                h3 {
                                    margin-bottom:4px;
                                    a {
                                        color:@color-dark-text;
                                        text-transform:uppercase;
                                    }
                                }
                                line-height:1.2;
                                border-bottom:1px solid @color-dark-text;

                            }
                            li:first-child{
                                background:@color-black-bg;
                                color:@color-text;
                                h3 { 
                                    a {
                                        color:@color-text;
                                    }
                                }
                            }
                        }
                        .object-list-sub.active {
                            display:block;
                            padding-top:10px;
                            background:no-repeat url('../img/top-arrow.gif');
                            background-position:20px 0px;
                        }
                    }
                    #playlist {
                        clear:left;
                        float:left;
                        position:relative;
                        top:@content-main-offset-top;
                        h1 {
                            width:@playlist-header-width;  
                        }
                        #playlist-container {
                            margin:@default-padding;
                            width:@playlist-container-width;
                        }

                    }
                    #ad-space {
                        position:relative;
                        top:@content-main-offset-top;
                        float:right;
                        width:@ad-space-width;
                        div {
                            margin-top:16px;
                        }
                    }
                }
            }
        }
    }
}

#home {
    #wrap {
        #inner-wrap {
            #content {
                #content-main {
                    top:-145px;
                }
            }
        }
    }
}

#radio-logs {
    h1 {
        .header;
        background:@color-black-bg;
        margin-left:16px;
    }
    #content-main {
        .navigation {
            .clear-children;
            background:@color-dark-text;
            position:relative;
            height:30px;
            li {
                position:absolute;
                background:@color-dark-text;
                padding:@default-padding;
                a {
                    font-family:@body_font;
                    text-transform:uppercase;
                    font-size:@size-e;
                    color:white;
                    text-decoration:underline;
                }
            } 
            li:hover {
                background:@color-text;
            }
            .prev {
                left:0px;
                border-right:1px solid @color-text;
                a:before {
                    content:"\00ab\00a0";
                }
            }
            .next {
                right:0px;
                border-left:1px solid @color-text;
                a:after {
                    content:"\00a0\00bb";
                }
            }
        }
    }
}


#calendar {
    width:300px;
    h1 {
        margin-bottom:12px;
    }
    .calendar-week {
        .clear-children;
        .calendar-date {
            padding:@default-padding;
            width:20px;
            height:26px;
            font-size:@size-e;
            background:@color-black-bg;
            color:@color-text;
            display:block;
            float:left;
            border-right:1px solid @color-dark-text;
        }
        .inactive {
        }
        .has-event {
            font-weight:bold;
            color:@color-highlight-3;
        }
        .active {
            background:@color-dark-text;
        }
        .active.has-event {
            color:white;
            background:@color-highlight-3;
        } 
    }
}

#footer {
    clear:both;
    border-top:1px solid #CCC;
    ul {
        .clear-children;
        li {
            float:left;
            padding:@default-padding;
            margin:@default-padding;
            font-size:@size-e;
            color:@color-text;
            a {
                color:@color-text;
            }
        }
    }

}

#bottom-cap {
    width:1100px;
    height:43px;
    position:relative;
    #footer-left, #footer-right {
        width:42px;
        height:43px;
        top:0px;
        position:absolute;
    }
    #footer-right {
        right:30px;
        background:no-repeat url('../img/footer-bg-right.png');
    }
    #footer-left {
        left:30px;
        background:no-repeat url('../img/footer-bg-left.png');

    }
    #footer-middle {
        width:957px;
        height:43px;
        position:absolute;
        left:72px;
        background:repeat-x url('../img/footer-main-bg.png');
    }
}


