<div id="playlist-container">
    <table>
        <thead>
            <tr>
                <th>Artist</th>
                <th>Album</th>
                <th>Song</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>{{ log.artist }}</td>
                <td>{{ log.album }}</td>
                <td>{{ log.track }}</td>
                <td>{{ log.submitted|timesince }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
