{% load relative_date %}
<div class="gray-bg default-padding" id="playlist-container">
    <table class="gray-bg">
        <thead>
            <tr>
                <th>Artist</th>
                <th>Song</th>
                <th>Time</th>
                <th>Genre</th>
                <th class="last">Album</th>
            </tr>
        </thead>
        <tbody class="white-bg">
            {% for log in logs %}
            <tr class="font-e {% cycle 'row1' 'row2' %}">
                <td>{{ log.artist }}</td>
                <td>{{ log.track }}</td>
                <td>{{ log.submitted|relative }}</td>
                <td>{{ log.genre }}</td>
                <td class="last">{{ log.album }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
