{% extends "staff/base.html" %}

{% block staff_content_main %}
<h2 class="header">Staff</h2>
<ul class="object-list">
{% for role in roles %}
    <li class="object-list-item">
        <dl>
            <dt>Position</dt>
            <dd>{{ role.role.title }}</dd>
            <dt>Name</dt>
            <dd>{{ role.user.get_full_name }}</dd>
            <dt>Email</dt>
            <dd>{{ role.get_email }}</dd>
            <dt>Phone</dt>
            <dd>{{ role.get_phone }}</dd>
        </dl>
    </li>
{% endfor %}
</ul>
{% endblock %}
