<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>{% block title %}WLUW {% block extra_title %}{% endblock %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css"/>
        <!--[if IE]>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css"/>
        <![endif]-->
        {% block extra_head %}
        {% endblock %}
        {% if GOOGLE_ANALYTICS_ACCOUNT %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ACCOUNT }}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script');
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 
                'http://www') + '.google-analytics.com/ga.js';
            ga.setAttribute('async', 'true');
            document.documentElement.firstChild.appendChild(ga);
          })();

        </script>
        {% endif %}
    </head>
    {% block body %}
    <body id="{% block body_id %}page-home{% endblock %}">
        <div id="wrap">
            <div id="inner-wrap">
            <div id="header">
                {% block header %}
                <div class="row">
                    <a id="header-image" href="/" title="WLUW 88.7"><img src="{{MEDIA_URL}}img/logo.png" alt="WLUW 88.7" width="350" height="104"/></a>
                    {% block flash_player %}
                    {% endblock %}
                    <div id="header-right" class="row">
                        {% load radio_logs_tags %}
                        {% load gravatar %}
                        {% grab_latest_logs get 1 as latest_log %}
                        {% for log in latest_log %}
                        <div id="whats-playing">
                            <h2 class="header">now playing:</h2>
                            <img src="{% gravatar_for_email log.dj.user.email %}" height="60" width="60" />
                            <ul>
                                <li>{{ log.artist }}</li>
                                <li>{{ log.track }}</li>
                                <li>{{ log.submitted|timesince }}</li>
                                <li>DJ:<a href="{{ log.dj.get_absolute_url }}">{{ log.dj.display_name }}</a></li>
                            </ul>
                        </div>
                        {% endfor %}
                        {% block menu %}
                        <ul id="menu">
                            <li class="red">
                                <span class="arrow-right"><a href="http://wluwfm.blogspot.com/" target="_blank">Blog</a><span class="arrow-right-end"> </span></span>
                            </li>
                            <li class="black {% block schedule-active %}{% endblock %}">
                                <span class="arrow-right"><a href="{% url for-day current_datetime.weekday %}">Shows</a><span class="arrow-right-end"> </span></span>
                            </li>
                            <li class="red {% block events-list %}{% endblock %}">
                                <span class="arrow-right"><a href="{% url events-list %}">Events</a><span class="arrow-right-end"> </span></span>
                            </li>
                            <li class="black {% block music-active %}{% endblock %}">
                                <span class="arrow-right"><a href="{% url logs-time-now %}">Music</a><span class="arrow-right-end"> </span></span>
                            </li>
                            <li class="red {% block about-active %}{% endblock %}">
                                <span class="arrow-right"><a href="{% url staff-list %}">About</a><span class="arrow-right-end"> </span></span>
                            </li>
                            <li class="black">
                                <span class="arrow-right"><a href="http://amber.streamguys.com:4100/stream.mp3.m3u">Listen</a><span class="arrow-right-end"> </span></span>
                            </li>
                        </ul>
                        {% endblock %}
                    </div>
                </div>
                {% endblock %}
            </div>
            {% block content %}
            {% endblock %}
            </div>
            {% block footer %}
            <div id="footer">
                <ul>
                    <li>
                        &copy; 2009 WLUW-FM 88.7 &ndash; Chicago Sound Alliance
                    </li>
                    <li>
                        <a href="http://luc.edu" rel="nofollow" title="Loyola University Chicago">Loyola University Chicago</a>
                    </li>
                    <li>
                        <a href="/about/" title="About Us">About</a>
                    </li>
                    <li>
                        <a href="/about/" title="Volunteer at WLUW (LUC students)">Volunteer at WLUW (LUC students)</a>
                    </li>
                </ul>
            </div>
            {% endblock %}
        </div>
            <div id="bottom-cap">
                <div id="footer-left">
                </div>
                <div id="footer-middle">
                </div>
                <div id="footer-right">
                </div>
            </div>
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
            <script type="text/javascript">
                $(function () {
                    $('a.today, a.tomorrow, a.day_after').click(function(event) {
                        event.preventDefault();
                        var classes = $(this).attr('class').split(' ');
                        for(var i = 0; i < classes.length; ++i) {
                            var cls = classes[i];
                            var check_obj = $('ul.'+cls);
                            if(check_obj.length) {
                                if(check_obj.children('*').length < 1) {
                                    return;
                                } 
                                $('.object-list-sub').removeClass('active');
                                check_obj.addClass('active');
                                var offset = 0;
                                $(this).parent().prevAll().each(function () {
                                    offset += $(this).width();
                                    offset += parseInt($(this).css('paddingLeft'));
                                    offset += parseInt($(this).css('paddingRight'));
                                });
                                offset += $(this).parent().width();
                                check_obj.css({'backgroundPosition':offset+'px 0px'});
                                $('#event-list li').removeClass('active');
                                $(this).parent().addClass('active');
                                $('#event-list-target').text($(this).text());
                                return;
                            }
                        }

                    }); 

                });
            </script>
    </body>
    {% endblock %}
</html>
