<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>{% block title %}WLUW {% block extra_title %}{% endblock %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css"/>
        <!--[if IE]>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css"/>
        <![endif]-->
        {% block extra_head %}
        {% endblock %}
    </head>
    {% block body %}
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
        <div id="city-left">
        </div>
        <div id="city-right">
        </div>
        <div id="wrap">
            <div id="header">
            <h1><a href="/">WLUW 88.7fm</a></h1>
            <p>Your Chicago Sound Alliance</p>
            </div>
            <div id="content">
                <div>
                    <div id="lhs">
                        <div>
                            <ul>
                                {% for spot in next_spots %}
                                    <li>{{ spot.show }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="rhs">
                        <div>
                        <h2>events</h2>
                        <ul>

                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    {% endblock %}
</html>
