{% extends "base.html" %}

{% block body_id %}home{% endblock %}
{% load gravatar %}

{% block content %}
        <div class="scene logs">
            <div id="logo">
                <h1>
                    <a href="{% url home %}" title="WLUW.org">Wluw</a>
                </h1>
            </div>
            <div class="scene-left"></div>
            <div class="scene-right"></div>
            <div id="nowplaying">
                <div class="top">
                    {% with logs|slice:"0:1" as latest_log %}
                    <div>
                        <h2>now playing</h2>
                        <img src="{{ latest_log.0.album.image_large|default:"/media/img/missingart.png" }}" alt="{{ latest_log.0.album.name }}" />
                        <p>
                            <span>artist</span>{{ latest_log.0.artist.name|slice:":30" }}
                            {% if latest_log.0.artist.name|length > 30 %}&hellip;{% endif %}
                        </p>
                        <p>
                            <span>track</span>{{ latest_log.0.track.name|slice:":30" }}
                            {% if latest_log.0.track.name|length > 30 %}&hellip;{% endif %}
                        </p>
                        <p>
                            <span>album</span>{{ latest_log.0.album.name|slice:":30" }}
                            {% if latest_log.0.album.name|length > 30 %}&hellip;{% endif %}
                        </p>
                        <p>
                            <span>show</span>{{ current_spot.show }} &mdash; {{ latest_log.0.dj }}
                        </p>
                        <a class="listen-link" href="#"><span>listen now &raquo;</span></a>
                    </div>
                    {% endwith %}
                </div>
            </div>
            <div id="logs">
                <div id="building-top">
                </div>
                <div class="field">
            {% load frontend_tags %}
            {% get_random_ad as ad %}
            {% if ad %}
            <div id="promotion">
                <a href="{{ ad.link }}" title="{{ ad.name }}">
                    <img src="{{ MEDIA_URL }}img/promotion_inner.png" alt="{{ ad.name }}" style="background:no-repeat url('{{ MEDIA_URL }}{{ ad.image }}');" />
                </a>
            </div>
            {% endif %}
                    <table>
                        <thead>
                            <th></th>
                            <th>Artist</th>
                            <th>Track</th>
                            <th>Album</th>
                        </thead>
                        <tbody>
                            {% for log in logs %}
                            {% ifchanged log.dj %}
                                <tr class="dj"><td class="djrow" colspan="4">{{ log.dj }}</td></tr>
                            {% endifchanged %}
                            <tr class="{% cycle 'row1' 'row2' %}">
                                <td class="image">
                                    {% if log.album.status == 2 and log.album.image_medium %}
                                    <a href="{{ log.album.lastfm_url }}" title="listen on last.fm">
                                        <img src="{{ log.album.image_medium }}" alt="{{ log.album.name }}" />
                                    </a>
                                    {% else %}

                                    {% endif %}
                                </td>
                                <td>
                                    <p>{{ log.artist.name }}</p>
                                </td>
                                <td>
                                    <p>{{ log.track.name }}</p>
                                </td>
                                <td>
                                    <div>
                                    <p class="hidden">
                                        {{ log.submitted|date:"l, N jS g:ia" }}
                                    </p>
                                    </div>
                                    <p>{{ log.album.name }}</p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <a class="more-link" href="{% url logs-time-now %}" title="view more logs">more logs&hellip;</a>
                </div>
            </div>
        </div>
        <div class="scene events">
            <div id="events-top"></div>
            <div class="scene-left"></div>
            <div class="scene-right"></div>
            <div class="wrap">
                <div id="events" class="logo"><h2>Events</h2></div>
                <div id="events-holder">
                    {% load events_tags %}
                    <div class="calendar">
                        <h2>Events for {{ now|date:"F" }}</h2>
                        <div>{% calendar_block %}</div>
                    </div>
                    {% if events.today %}
                    <h2>Today</h2>
                    <ul>
                        {% for event in events.today %}
                        <li>
                            <h3><a href="{{ event.get_absolute_url }}">{{ event }}</a></h3>
                            <p>{{ event.blurb }}</p>
                            <p>{{ event.time_start }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if events.tomorrow %}
                    <h2>Tomorrow</h2>
                    <ul>
                        {% for event in events.tomorrow %}
                        <li>
                            <h3><a href="{{ event.get_absolute_url }}">{{ event }}</a></h3>
                            <p>{{ event.blurb }}</p>
                            <p>{{ event.time_start }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if events.day_after %}
                    <h2>{{ day_after_tomorrow|date:"l" }}</h2>
                    <ul>
                        {% for event in events.day_after %}
                        <li>
                            <h3><a href="{{ event.get_absolute_url }}">{{ event }}</a></h3>
                            <p>{{ event.blurb }}</p>
                            <p>{{ event.time_start }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="scene shows">
            <div class="scene-left"></div>
            <div class="scene-right"></div>
            <div class="wrap">
                <div id="shows" class="logo"><h2>Shows</h2></div>
                <div>
                    <ul>
                        {% for spot in next_spots %}
                            <li>
                                <h3><a href="{{ spot.show.get_absolute_url }}" title="{{ spot.show }}">{{ spot.show }}</a></h3>
                                <p class="dj"><a href="{{ spot.dj.get_absolute_url }}" title="{{ spot.dj }}">{{ spot.dj }}</a></p>
                                <p>{{ spot.show.blurb }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                    <a class="more-link" href="{% url for-day today.weekday %}" title="View the entire schedule">View the entire schedule&hellip;</a>
                </div>
            </div>
        </div>
        <div class="scene about">
            <div class="wrap">
            </div>
        </div>
{% endblock %}


