{% extends "base.html" %} 

{% block body_id %}radio-events{% endblock %}

{% block page_menu %}
    {% block radio_events_page_menu %}
    {% include "radio_events/includes/side_navigation.html" %}
    {% endblock %}
{% endblock %}

{% block content_header %}
    {% block radio_events_content_header %}
    {% endblock %}
{% endblock %}
{% block content_main %}
    {% block radio_events_content_main %}

    {% endblock %}
{% endblock %}
{% block content_sub %}
    {% block radio_events_content_sub %}

    {% endblock %}
{% endblock %}
