.clear-children {
  width: 100%;
  overflow: hidden;
}
.horizontal-ul {
  width: 100%;
  overflow: hidden;
}
.horizontal-ul li {
  padding: 6px 8px;
  float: left;
}
.header {
  padding: 6px 8px;
  font-family: "Courier", "Courier New", monospace;
  color: white;
  background-color: #231f20;
  text-transform: uppercase;
  font-style: italic;
  font-size: 14pt;
}
.object-list li {
  padding: 6px 8px;
  border-bottom: 1px solid #777576;
}
.object-list li a {
  color: #b7b5b6;
  font-family: "Courier", "Courier New", monospace;
  font-size: 14pt;
}
.object-list li span {
  color: #b7b5b6;
  font-family: "Courier", "Courier New", monospace;
  font-size: 8pt;
}
.object-list li div {
  font-size: 8pt;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  color: #b7b5b6;
}
body {
  font-size: 14pt;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  background: url('../img/body-bg.gif');
  color: #231f20;
  height: 100%;
}
body table {
  border-left: 1px solid #777576;
  width: 100%;
}
body table th {
  background: #777576;
  font-size: 10pt;
  font-family: "Courier", "Courier New", monospace;
  color: white;
  padding: 6px 8px;
}
body table tr { background: #231f20; }
body table tr td {
  padding: 6px 8px;
  font-size: 8pt;
  border-bottom: 1px solid #777576;
  border-right: 1px solid #777576;
}
body table .row1 {
  background: white;
  color: #231f20;
}
body table .row2 {
  background: #b7b5b6;
  color: black;
}
body #wrap {
  background: url('../img/wrap-bg.png');
  padding: 0px 70px;
  width: 960px;
  height: 100%;
  overflow: hidden;
}
body #wrap #inner-wrap {
  border-left: 1px solid #777576;
  border-right: 1px solid #777576;
  padding: 10px 16px;
  background: white;
  height: 100%;
}
body #wrap #inner-wrap a { text-decoration: none; }
body #wrap #inner-wrap #header {
  width: 100%;
  overflow: hidden;
  margin-bottom: 12px;
}
body #wrap #inner-wrap #header #header-image {
  float: left;
  margin-right: 24px;
}
body #wrap #inner-wrap #header .row #header-right {
  width: 55%;
  overflow: hidden;
  float: left;
  position: relative;
  height: 124px;
}
body #wrap #inner-wrap #header .row #header-right #whats-playing {
  width: 100%;
  overflow: hidden;
  position: absolute;
  right: 0px;
  height: 124px;
}
body #wrap #inner-wrap #header .row #header-right #whats-playing .header {
  font-size: 10pt;
  background: #ed117c;
  float: left;
}
body #wrap #inner-wrap #header .row #header-right #whats-playing img { float: left; }
body #wrap #inner-wrap #header .row #header-right #whats-playing ul {
  position: absolute;
  top: 24px;
  height: 124px;
  right: 0px;
  width: 65%;
}
body #wrap #inner-wrap #header .row #header-right #whats-playing ul li {
  float: none;
  font-size: 8pt;
  color: #b7b5b6;
}
body #wrap #inner-wrap #header .row #header-right #whats-playing ul li a {
  display: inline;
  background: none;
  font-size: 10pt;
  color: #777576;
}
body #wrap #inner-wrap #header .row #header-right ul {
  position: absolute;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
  margin-left: 10px;
}
body #wrap #inner-wrap #header .row #header-right ul li {
  padding: 6px 8px;
  float: left;
}
body #wrap #inner-wrap #header .row #header-right ul li {
  text-transform: uppercase;
  margin-right: 24px;
  padding: 0px;
}
body #wrap #inner-wrap #header .row #header-right ul li a {
  display: block;
  padding: 8px 7px;
  padding-right: 13px;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 12px;
  color: white;
  background: no-repeat url('../img/arrow-right.png') scroll 100% -12px;
}
body #wrap #inner-wrap #header .row #header-right ul .black { background-color: black; }
body #wrap #inner-wrap #header .row #header-right ul .red { background-color: #ed117c; }
body #wrap #inner-wrap #page-menu {
  float: left;
  width: 80px;
  margin-top: 45px;
}
body #wrap #inner-wrap #page-menu li {
  padding: 6px 8px;
  margin-bottom: 8px;
  font-family: "Courier", "Courier New", monospace;
  font-size: 8pt;
  color: white;
  background: #7e7f81;
}
body #wrap #inner-wrap #page-menu li a {
  font-family: "Courier", "Courier New", monospace;
  font-size: 8pt;
  color: white;
  text-transform: lowercase;
}
body #wrap #inner-wrap #page-menu .active { background: #ed117c; }
body #wrap #inner-wrap #page-menu .active a { font-weight: bold; }
body #wrap #inner-wrap #page-menu .active ul { padding-top: 8px; }
body #wrap #inner-wrap #page-menu .active ul li {
  text-decoration: none;
  background: #ed117c;
}
body #wrap #inner-wrap #content {
  width: 828px;
  overflow: hidden;
}
body #wrap #inner-wrap #content #banner {
  width: 100%;
  height: 275px;
  position: relative;
  padding-left: 16px;
}
body #wrap #inner-wrap #content #banner #banner-link {
  position: absolute;
  top: 0px;
  right: 25px;
}
body #wrap #inner-wrap #content #content-container {
  position: relative;
  overflow: visible;
  margin-left: 16px;
}
body #wrap #inner-wrap #content #content-container #content-main {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 24px;
}
body #wrap #inner-wrap #content #content-container #content-main #content-main-header {
  width: 496px;
  background: white;
  padding: 8px 40px;
}
body #wrap #inner-wrap #content #content-container #content-main #content-main-object-list-container {
  background: repeat-y url('../img/main-content-bg.gif');
  float: left;
  margin-right: -72px;
}
body #wrap #inner-wrap #content #content-container #content-main #content-main-object-list-container .object-list { width: 390px; }
body #wrap #inner-wrap #content #content-container #content-main #content-main-object-list-container .object-list li {
  width: 320px;
  color: #b7b5b6;
  padding: 6px 8px;
  font-size: 10pt;
}
body #wrap #inner-wrap #content #content-container #content-main #content-main-object-list-container .object-list div {
  width: 320px;
  color: #b7b5b6;
  padding: 6px 8px;
  font-size: 10pt;
}
body #wrap #inner-wrap #content #content-container #content-main #content-main-object-list-container .object-list h1 {
  width: 320px;
  color: #b7b5b6;
  padding: 6px 8px;
  font-size: 10pt;
}
body #wrap #inner-wrap #content #content-container #content-main #content-sub {
  background: white;
  float: left;
  margin: 50px 0px 0px 18px;
  width: 372px;
  position: relative;
}
body #wrap #inner-wrap #content #content-container #content-main #content-sub #event-list {
  width: 100%;
  overflow: hidden;
  text-transform: lowercase;
}
body #wrap #inner-wrap #content #content-container #content-main #content-sub #event-list li {
  padding: 6px 8px;
  float: left;
}
body #wrap #inner-wrap #content #content-container #content-main #content-sub #event-list li {
  padding: 6px 8px;
  margin: 6px 8px;
  font-size: 8pt;
  font-family: "Courier", "Courier New", monospace;
  background: #7e7f81;
}
body #wrap #inner-wrap #content #content-container #content-main #content-sub #event-list li a { color: white; }
body #wrap #inner-wrap #content #content-container #content-main #content-sub #event-list li.active { background: #ed117c; }
body #wrap #inner-wrap #content #content-container #content-main #content-sub .object-description {
  background: #231f20;
  padding: 6px 8px;
  font-size: 10pt;
  line-height: 1.3;
  color: #b7b5b6;
  margin-bottom: 16px;
}
body #wrap #inner-wrap #content #content-container #content-main .object-list-sub {
  display: none;
  font-size: 8pt;
  color: #777576;
}
body #wrap #inner-wrap #content #content-container #content-main .object-list-sub li {
  padding: 8px 12px;
  line-height: 1.2;
  border-bottom: 1px solid #777576;
}
body #wrap #inner-wrap #content #content-container #content-main .object-list-sub li h3 { margin-bottom: 4px; }
body #wrap #inner-wrap #content #content-container #content-main .object-list-sub li h3 a {
  color: #777576;
  text-transform: uppercase;
}
body #wrap #inner-wrap #content #content-container #content-main .object-list-sub li:first-child {
  background: #231f20;
  color: #b7b5b6;
}
body #wrap #inner-wrap #content #content-container #content-main .object-list-sub li:first-child h3 a { color: #b7b5b6; }
body #wrap #inner-wrap #content #content-container #content-main .object-list-sub.active {
  display: block;
  padding-top: 10px;
  background: no-repeat url('../img/top-arrow.gif');
  background-position: 20px 0px;
}
body #wrap #inner-wrap #content #content-container #playlist {
  clear: left;
  float: left;
  position: relative;
  top: -145px;
}
body #wrap #inner-wrap #content #content-container #playlist h1 { width: 440px; }
body #wrap #inner-wrap #content #content-container #playlist #playlist-container {
  margin: 6px 8px;
  width: 400px;
}
body #wrap #inner-wrap #content #content-container #ad-space {
  position: relative;
  top: -145px;
  float: right;
  width: 300px;
}
body #wrap #inner-wrap #content #content-container #ad-space div { margin-top: 16px; }
#home #wrap #inner-wrap #content #content-main { top: -145px; }
#radio-logs h1 {
  padding: 6px 8px;
  font-family: "Courier", "Courier New", monospace;
  color: white;
  background-color: #231f20;
  text-transform: uppercase;
  font-style: italic;
  font-size: 14pt;
  background: #231f20;
  margin-left: 16px;
}
#radio-logs #content-main .navigation {
  width: 100%;
  overflow: hidden;
  background: #777576;
  position: relative;
  height: 30px;
}
#radio-logs #content-main .navigation li {
  position: absolute;
  background: #777576;
  padding: 6px 8px;
}
#radio-logs #content-main .navigation li a {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  text-transform: uppercase;
  font-size: 8pt;
  color: white;
  text-decoration: underline;
}
#radio-logs #content-main .navigation li:hover { background: #b7b5b6; }
#radio-logs #content-main .navigation .prev {
  left: 0px;
  border-right: 1px solid #b7b5b6;
}
#radio-logs #content-main .navigation .prev a:before { content: "\00ab\00a0"; }
#radio-logs #content-main .navigation .next {
  right: 0px;
  border-left: 1px solid #b7b5b6;
}
#radio-logs #content-main .navigation .next a:after { content: "\00a0\00bb"; }
#calendar { width: 300px; }
#calendar h1 { margin-bottom: 12px; }
#calendar .calendar-week {
  width: 100%;
  overflow: hidden;
}
#calendar .calendar-week .calendar-date {
  padding: 6px 8px;
  width: 20px;
  height: 26px;
  font-size: 8pt;
  background: #231f20;
  color: #b7b5b6;
  display: block;
  float: left;
  border-right: 1px solid #777576;
}
#calendar .calendar-week .has-event {
  font-weight: bold;
  color: #ed117c;
}
#calendar .calendar-week .active { background: #777576; }
#calendar .calendar-week .active.has-event {
  color: white;
  background: #ed117c;
}
#footer {
  clear: both;
  border-top: 1px solid #cccccc;
}
#footer ul {
  width: 100%;
  overflow: hidden;
}
#footer ul li {
  float: left;
  padding: 6px 8px;
  margin: 6px 8px;
  font-size: 8pt;
  color: #b7b5b6;
}
#footer ul li a { color: #b7b5b6; }
#bottom-cap {
  width: 1100px;
  height: 43px;
  position: relative;
}
#bottom-cap #footer-left {
  width: 42px;
  height: 43px;
  top: 0px;
  position: absolute;
}
#bottom-cap #footer-right {
  width: 42px;
  height: 43px;
  top: 0px;
  position: absolute;
}
#bottom-cap #footer-right {
  right: 30px;
  background: no-repeat url('../img/footer-bg-right.png');
}
#bottom-cap #footer-left {
  left: 30px;
  background: no-repeat url('../img/footer-bg-left.png');
}
#bottom-cap #footer-middle {
  width: 957px;
  height: 43px;
  position: absolute;
  left: 72px;
  background: repeat-x url('../img/footer-main-bg.png');
}
