{% extends "base.html" %}

{% block body_id %}radio-station{% endblock %}
{% block content_header %}
        {% block station_content_header %}

        {% endblock %}

{% endblock %}


{% block page_menu %}
    {% block station_page_menu %}
        {% include "station/includes/side_navigation.html" %}
    {% endblock %}
{% endblock %}

{% block content_main %}
        {% block station_content_main %}

        {% endblock %}

{% endblock %}

{% block content_sub %}
        {% block station_content_sub %}

        {% endblock %}
{% endblock %}
