{% for week in calendar %} 
    <div class="calendar-week">
    {% for day, has_event in week %}
        <a class="calendar-date 
                  {% ifequal day 0 %}
                    inactive
                  {% else %}
                    {% ifequal day today.day %}
                        active
                    {% endifequal %}
                  {% endifequal %}
                  {% if has_event %}
                        has-event
                  {% endif %}"
         href="{% ifequal day 0 %}#{% else %}{% url events-for-day today.year today.month day %}{% endifequal %}"><span>{% ifnotequal day 0 %}{{ day }}{% endifnotequal %}</span></a>
    {% endfor %}
    </div>
{% endfor %} 
