<li class="object-list-item {% if event.highlight %}active{% endif %}">
    <h3><a class="object-list-item-link" href="{{ event.get_absolute_url }}" title="{{ event.name }}">{{ event.name }}</a></h3>
    <div class="object-list-item-description">
        <div class="start-time">{{ event.time_start|time:"g:ia" }}</div>
        {% if event.location %}
            <div class="location">{{ event.location.name }}</div>
        {% endif %}
        {% if event.blurb %}
            <div class="event-description">{{ event.blurb }}</div>
        {% endif %}
    </div>
</li>    
