<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <title>{% block title %}WLUW {% block extra_title %}{% endblock %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css"/>
        <!--[if IE]>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css"/>
        <![endif]-->
        {% block extra_head %}
        {% endblock %}
    </head>
    {% block body %}
    <body id="{% block body_id %}page-home{% endblock %}">
        <div id="wrap">
            <div id="inner-wrap">
            <div id="header">
                {% block header %}
                <div class="row">
                    <a id="header-image" href="/" title="WLUW 88.7"><img src="{{MEDIA_URL}}img/logo.png" alt="WLUW 88.7" width="350" height="104"/></a>
                    {% block flash_player %}
                    {% endblock %}
                    <div id="header-right" class="row">
                        {% load radio_logs_tags %}
                        {% load gravatar %}
                        {% grab_latest_logs get 1 as latest_log %}
                        {% for log in latest_log %}
                        <div id="whats-playing">
                            <h2 class="header">now playing:</h2>
                            <img src="{% gravatar_for_email log.dj.user.email %}" height="60" width="60" />
                            <ul>
                                <li>{{ log.artist }}</li>
                                <li>{{ log.track }}</li>
                                <li>{{ log.submitted|timesince }}</li>
                                <li>DJ:<a href="{{ log.dj.get_absolute_url }}">{{ log.dj.display_name }}</a></li>
                            </ul>
                        </div>
                        {% endfor %}
                        {% block menu %}
                        <ul id="menu">
                            <li class="black {% block schedule-active %}{% endblock %}">
                                <span class="arrow-right"><a href="{% url schedule-weekday %}">Shows</a><span class="arrow-right-end"> </span></span>
                            </li>
                            <li class="red {% block events-list %}{% endblock %}">
                                <span class="arrow-right"><a href="{% url events-list %}">Events</a><span class="arrow-right-end"> </span></span>

                            </li>
                            <li class="black {% block music-active %}{% endblock %}">
                                <span class="arrow-right"><a href="{% url logs-time-now %}">Music</a><span class="arrow-right-end"> </span></span>

                            </li>
                            <li class="red {% block about-active %}{% endblock %}">
                                <span class="arrow-right"><a href="/about/">About</a><span class="arrow-right-end"> </span></span>

                            </li>
                        </ul>
                        {% endblock %}
                    </div>
                </div>
                {% endblock %}
            </div>
            {% block content %}
            {% endblock %}
            </div>
            {% block footer %}
            <div id="footer">
                <ul>
                    <li>
                        &copy; 2009 WLUW 80.7 &ndash; Loyola College Radio
                    </li>
                    <li>
                        <a href="http://luc.edu" rel="nofollow" title="Loyola University Chicago">Loyola University Chicago</a>
                    </li>
                    <li>
                        <a href="/about/" title="About Us">About</a>
                    </li>
                    <li>
                        <a href="/about/" title="Be a DJ">DJ Applications</a>
                    </li>
                </ul>
            </div>
            {% endblock %}
        </div>
            <div id="bottom-cap">
                <div id="footer-left">
                </div>
                <div id="footer-middle">
                </div>
                <div id="footer-right">
                </div>
            </div>
    </body>
    {% endblock %}
</html>
