{% extends "base.html" %}

{% block body_id %}home{% endblock %}

{% block content_header %}
    {% if current_spot %}
        <div id="banner">
            <a id="banner-link" class="header" href="{% url schedule-weekday %}" title="Today&rsquo;s Shows">Today&rsquo;s Shows</a>
            <a id="banner-image-link" href="{% url show-detail current_spot.show.slug %}" title="{{ current_spot.show.name }}">
                <img alt="{{ current_spot.show.name }}" src="{{ MEDIA_URL }}{{ current_spot.show.image }}" />
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block content_main %}
    <div id="content-main-header">
        {{ current_spot.show.blurb }}
    </div>
    <div id="content-main-object-list-container">
        <ul class="object-list bulleted">
            {% for spot in next_spots %}
                {% include "radio_station/includes/show_listitem.html" %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content_sub %}
    <h2 class="header">What&rsquo;s going on today</h2>
    <ul id="event-list">
        <li><a class="event-list-link active" href="{% url events-list %}" title="today">today</a></li>
        <li><a class="event-list-link" href="{% url events-for-day tomorrow.year tomorrow.month tomorrow.day %}" title="tomorrow">tomorrow</a></li>
        <li><a class="event-list-link" href="{% url events-for-day day_after_tomorrow.year day_after_tomorrow.month day_after_tomorrow.day %}" title="{{ day_after_tomorrow|date:"l" }}">{{ day_after_tomorrow|date:"l" }}</a></li>
        <li><a class="event-list-link" href="{% url events-list %}" title="see more">see more</a></li>
    </ul>
    <ul class="object-list-sub">
    {% for event in events %}
        {% include "radio_events/includes/event_list_item_sub.html" %}
    {% endfor %}
    </ul>
{% endblock %}

{% block content_after %}
    {% block playlist %}
        {% load radio_events_calendar %}
        <div id="playlist">
            <h2 class="header">What&rsquo;s Playing</h2>
            <!-- playlist! -->
        </div>
    {% endblock %}

    {% block ad_space %}
        <div id="ad-space">
            <h2 class="header">Check this out</h2>
        </div>
    {% endblock %}
{% endblock %}


