{% extends "abstract_base.html" %}

{% block content %}
            <div id="stage">
            {% block stage %}
                {% block page_menu %}
                <ul id="page-menu">
                    {% if schedule %}
                    {% for date in week %} 
                    <li class="{% ifequal date now %}active{% endifequal %}">
                        <a href="{% url schedule-for-day schedule.pk date.weekday %}">{% ifequal date now %}today{% else %}{{ date|date:"l" }}{% endifequal %}</a>
                    </li>
                    {% endfor %}
                    {% else %}
                        <li class="active">
                            <a href="{% url home %}" title="home">home</a>
                        </li>
                    {% endif %}
                </ul>
                {% endblock %}
                <div id="content">
                    {% block content_all %}
                        {% block content_header %}
                            <div id="content-header">
                            </div>
                        {% endblock %}
                        <div id="content-container">
                            <div id="content-main">
                                {% block content_main %}

                                {% endblock %}
                                <div id="content-sub">
                                    {% block content_sub %}
                                    {% endblock %}
                                </div>
                            </div>
                            {% block content_after %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
            </div>
{% endblock %}
