{% block body_id %}-show{% endblock %}

{% block radio_station_content_header %}
<h1>{{ show.name }}</h1>
{% endblock %}
{% block radio_station_content_main %}
<div class="{% if show.special_program %}special{% endif %}">
    {{ show.description }}
</div>
{% endblock %}
{% block radio_station_content_sub %}
    {% for spot in spots %}
        <div class="object-meta-object">
            <h3><a href="{% url dj-detail dj.slug %}" title="{{ spot.dj }}">{{ spot.dj }}</a></h3>
            on <a href="{% url schedule-weekday spot.schedule.pk spot.day_of_week %}">{{ spot.human_time }}</a>
        </div>
    {% endfor %}
    <dl>
        {% for artist in favorite_artists %}
            <dt>{{ artist.name }}</dt>
            <dd>{{ artist.playcount }}</dd>
        {% endfor %}
    </dl>
{% endblock %}
