{% extends "inner.html" %}
{% block body_id %}twocolumn{% endblock %}
{% block body_class %}about{% endblock %}

{% block header %}
        <h2 class="header">About WLUW</h2>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="#" title="about">About</a></li>
{% endblock %}

{% block sidebar %}
        <h3>Submit Music:</h3>
        <p>Get your music on WLUW-FM!</p> 
        <p>Mail us your album:</p> 
        <p>WLUW-FM</p> 
        <p>c/o Music Department</p> 
        <p>820 N. Michigan Ave.</p> 
        <p>Chicago, IL  60611</p>
        <h3>Applications:</h3>
        <p>
            Applications for WLUW-FM can be found <a href="#">here</a>.
        </p>
{% endblock %}
{% block stage %}
    {% load gravatar %}
    <div> 
        <ul>
        {% for role in roles %}
            <li>
                    {% if role.user.email %}
                        <img src="{% gravatar_for_email role.user.email %}" height="60" width="60" />
                    {% else %}
                        <img src="{% gravatar_for_email role.get_email %}" height="60" width="60" />
                    {% endif %} 
                    <div>
                    <h4>{{ role.role.title }}</h4>
                    <p>{{ role.user.get_full_name }}</p>
                    <p>{{ role.get_email }}</p> 
                    <p>{{ role.get_phone }}</p>
                    </div>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}

