{% extends "staff/base.html" %}
{% block body_id %}about{% endblock %}

{% block staff_content_header %}
        <h2 class="header">About WLUW</h2>
{% endblock %}

{% block staff_content_sub %}
        <div class="object-description">
            <strong>Get your music on WLUW-FM!</strong> 
            Mail us your album:<br /> 
            WLUW-FM<br /> 
            c/o Music Department<br /> 
            820 N. Michigan Ave.<br /> 
            Chicago, IL  60611<br />
        </div>
{% endblock %}
{% block staff_content_main %}
    {% load gravatar %}
    <div id="content-main-object-list-container"> 
        <h2 id="staff" class="header"><a name="contact">We are:</a></h2>
        <ul class="object-list">
        {% for role in roles %}
            <li class="object-list-item">
                    {% if role.user.email %}
                        <img style="display:inline-block;" src="{% gravatar_for_email role.user.email %}" height="60" width="60" />
                    {% else %}
                        <img style="display:inline-block;" src="{% gravatar_for_email role.get_email %}" height="60" width="60" />
                    {% endif %} 
                    <div class="right" style="display:inline-block; width:240px;">
                    {{ role.role.title }}<br />
                    {{ role.user.get_full_name }}<br />
                    {{ role.get_email }}<br />
                    {{ role.get_phone }}<br />
                    </div>
            </li>
        {% endfor %}
        </ul>
        <h2 id="applications" class="header">Applications:</a></h2>
        <ul class="object-list">
            <li class="object-list-item">
                Applications for WLUW-FM can be found <a href="#">here</a>.
            </li>
        </ul>
    </div>
{% endblock %}

