{% extends "base.html" %}
{% block extrahead %}
{% endblock %}

{% block side_navigation %}
    {% block logs_side_navigation %}
    {% endblock %}
{% endblock %}

{% block body_id %}radio-logs{% endblock %}

{% block banner %}
{% endblock %}

{% block page_menu %}
    {% block logs_page_menu %}

    {% endblock %}
{% endblock %}

{% block content %}
    <div class="scene logs">
        <div class="scene-left"></div>
        <div class="scene-right"></div>
        <div class="wrap">
        {% block logs_content %}
            {% block logs_content_header %}

            {% endblock %}
            {% block logs_content_main %}

            {% endblock %}
            {% block logs_content_sub %}

            {% endblock %}
        {% endblock %}
        </div>
    </div>
{% endblock %}
