{% extends "logs/base.html" %}

{% block logs_content_header %}
<h1>{{ week_no }} of {{ week|date:"F" }}</h1>
{% endblock %}
{% block logs_content_main %}

    <div class="object-list-tabular">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Play Count</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>{{ item.name }}</td>
                    <td>{{ item.playcount }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}
{% block logs_content_sub %}

{% endblock %}

