{% extends "logs/base.html" %}

{% block header %}
<h2>Logs from {{ at_datetime|date:"g:ia l" }} the {{ at_datetime|date:"jS" }} of {{ at_datetime|date:"F" }}</h2> 
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url logs-time-now %}" title="Logs">Logs</a></li>
    <li><a href="{% url logs-time at_datetime.year at_datetime|date:"b" at_datetime.day at_datetime.hour %}" title="{{ at_datetime|date:"l, N jS g:ia" }}">{{ at_datetime|date:"l, N jS g:ia" }}</a></li>
    
{% endblock %}

{% block sidebar %}
    <ul id="page-menu">
        {% for nav_date in date_range %}
            {% ifequal nav_date.date at_datetime.date %}
                <li class="active">
                    <a href="#">
                        {% ifequal at_datetime.date current_datetime.date %}
                            Today
                        {% else %}
                            {{ nav_date|date:"l jS" }}
                        {% endifequal %}
                    </a>
                    <ul>
                        {% for nav_time in time_range %}
                            <li {% if at_datetime == nav_time %}class="active"{% endif %}>
                                {% url logs-time nav_date.year nav_date|date:"b" nav_date.day nav_time.hour as nav_url %}
                                <a href="{{ nav_url }}" title="{{ nav_time|date:"g:ia" }}">{{ nav_time|date:"g:ia" }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                {% url logs-time nav_date.year nav_date|date:"b" nav_date.day 0 as nav_url %}
                <li>
                    <a href="{{ nav_url }}" title="{{ nav_date|date:"l jS" }}">{% ifequal nav_date.date current_datetime.date %}Today{% else %}{{ nav_date|date:"l jS" }}{% endifequal %}</a>
                </li>
            {% endifequal %}
        {% endfor %}
    </ul>
{% endblock %}

{% block stage %}
    <ul class="navigation">
        <li class="prev"><a href="{% url logs-time prev.year prev|date:"b" prev.day prev.hour %}">3 hours earlier</a></li>
        {% if next %}
        <li class="next"><a href="{% url logs-time next.year next|date:"b" next.day next.hour %}">3 hours later</a></li>
        {% endif %}
    </ul>
    <div class="object-list-tabular">
        <table>
            <thead>
                <th></th>
                <th>Artist</th>
                <th>Track</th>
                <th>Album</th>
            </thead>
            <tbody>
                {% for log in entries %}
                {% ifchanged log.dj %}
                    <tr class="dj"><td class="djrow" colspan="4">{{ log.dj }}</td></tr>
                {% endifchanged %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td class="image">
                        {% if log.album.status == 2 and log.album.image_medium %}
                        <a href="{{ log.album.lastfm_url }}" title="listen on last.fm">
                            <img src="{{ log.album.image_medium }}" alt="{{ log.album.name }}" />
                        </a>
                        {% else %}
                        <a href="#" title="listen on last.fm">
                            <img src="/media/img/missingart.png" alt="{{ log.album.name }}" />
                        </a>

                        {% endif %}
                    </td>
                    <td>
                        <p>{{ log.artist.name }}</p>
                    </td>
                    <td>
                        <p>{{ log.track.name }}</p>
                    </td>
                    <td>
                        <div>
                        <p class="hidden">
                            {{ log.submitted|date:"l, N jS g:ia" }}
                        </p>
                        </div>
                        <p>{{ log.album.name }}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
